<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.spark.swarajyabiz">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_SEARCH_HISTORY" />
    <uses-permission android:name="android.permission.WRITE_SEARCH_HISTORY" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="YOUR_API_KEY" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:forceDarkAllowed="false"
        android:fullBackupContent="false"
        android:icon="@drawable/newlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/newlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Firebase"
        tools:targetApi="31">
        <activity
            android:name=".CouponMaker"
            android:exported="false" />
        <activity
            android:name=".RefsData"
            android:exported="false" />
        <activity
            android:name=".CommunitySharingCustom"
            android:exported="false" />
        <activity
            android:name=".Festival_Images"
            android:exported="false" />
        <activity
            android:name=".Festivals_Event"
            android:exported="false" />
        <activity
            android:name=".Festival_Date"
            android:exported="false" />
        <activity
            android:name=".SpacialProductHare"
            android:exported="false" />
        <activity
            android:name=".Withdraw"
            android:exported="false" />
        <activity
            android:name=".WalletPayment"
            android:exported="false" />
        <activity
            android:name=".ProDashboard"
            android:exported="false" />
        <activity
            android:name=".Scratch_Coupon"
            android:exported="false" />
        <activity
            android:name=".CommInfoGlobal"
            android:exported="false" />
        <activity
            android:name=".ReviewInfo"
            android:exported="false" />
        <activity
            android:name=".CommInfo"
            android:exported="false" />
        <activity
            android:name=".PostInfo"
            android:exported="false" />
        <activity
            android:name=".AddPostNew"
            android:exported="false" />

        <activity
            android:name=".AllReferrals"
            android:exported="false">

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        </activity>

        <activity
            android:name=".CustomBannerImage"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DemoBusinessCard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".JobChat"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BusinessPosts"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".WebsiteView"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BusinessCard"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ApplicationDetails"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ApplicationProfile"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".JobPostDetails"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AllJobPosts"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PremiumMembership"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BannerDetails"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BannerCategory"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".CreateBanner"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".PostJobs"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".BottomNavigation"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".HomePage"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".AddPost"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ImageCropper"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".UserOrderdetails"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- <full-backup-content> -->
        <!-- <include android:domain="sharedpref" android:path="YourSharedPrefsName.xml"/> -->
        <!-- </full-backup-content> -->
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Define the URL scheme and host for deep links -->
                <data
                    android:host="kaamdhanda.page.link"
                    android:scheme="https" />

                <!-- Define path prefixes for different deep link paths -->
                <data android:pathPrefix="/community" />
                <data android:pathPrefix="/product" />
                <data android:pathPrefix="/user" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyShopPromoted"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".NotificationPage"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".OrderDetails"
            android:exported="false" />
        <activity
            android:name=".UserMessages"
            android:exported="false" />
        <activity
            android:name=".PlaceOrder"
            android:exported="false" />
        <activity
            android:name=".MyOrders"
            android:exported="false" />
        <activity
            android:name=".ItemInformation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".OrderHistory"
            android:exported="false" />
        <activity
            android:name=".PromotedShops"
            android:exported="false" />
        <activity
            android:name=".OrderLists"
            android:exported="false" />
        <activity
            android:name=".PomoteShop"
            android:exported="false" />
        <activity
            android:name=".ShowAllItemsList"
            android:exported="false" />
        <activity
            android:name=".ItemDetails"
            android:windowSoftInputMode="adjustPan"
            android:exported="false" />
        <activity
            android:name=".horizantalImageScroll"
            android:exported="false" />
        <activity
            android:name=".AddItems"
            android:exported="false" />
        <activity
            android:name=".CreateCatalogList"
            android:exported="false" />
        <activity
            android:name=".Tabhost"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".ProfileImage"
            android:exported="false" />
        <activity
            android:name=".FirebaseLogin"
            android:exported="false" />
        <activity
            android:name=".LoginMain"
            android:exported="true" />
        <activity
            android:name=".FullScreen"
            android:exported="false" />
        <activity
            android:name=".ContactRequests"
            android:exported="false" />
        <activity
            android:name=".DrawerBase"
            android:exported="false" />
        <activity
            android:name=".FirstPage"
            android:exported="false" />
        <activity
            android:name=".ShopDetails"
            android:exported="false" />
        <activity
            android:name=".Business"
            android:exported="false" />
        <activity
            android:name=".ImageUpload"
            android:exported="false" />
        <activity
            android:name=".Create_Profile"
            android:exported="false" />
        <activity
            android:name=".LoginActvity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentPage"
            android:exported="false" />
        <activity
            android:name=".Referrals"
            android:exported="false" />

        <receiver
            android:name=".MySMSBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>